footer object {
    position: relative;
    width: 100vw;
    height: 183px;
    z-index: 1;

    @include breakpoint(tablett) {
        height: 140px;
    }

    @include breakpoint(desktop) {
        height: 114px;
    }
}

.footer {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    padding: 22px 25px;
    background-color: $footer-bg-color;

    @include breakpoint(tablett) {
        gap: 0;
        padding: 30px 25px;
    }


    @include breakpoint(desktop) {
        flex-direction: row-reverse;
        height: 114px;

    }

    h4 {
        color: $txt-footer-color;
        font-family: $fontlogotitle;
        font-size: 1.125rem;

        @include breakpoint(desktop) {
            width: 138px;
            align-self: self-end;
        }
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 7px;

        @include breakpoint(tablett) {
            flex-direction: row;
            height: 54px;
            align-self: self-end;
        }

        .footer_li {
            color: $txt-footer-color;
            list-style: none;

            @include breakpoint(tablett) {
                align-self: self-end;
            }

            &-long {
                font-weight: $font-weight-Medium;
                width: 190px;

                .fa-solid {
                    color: $txt-footer-color;
                    font-size: 13px;
                }
            }

            &-short {
                width: 130px;
            }

            a {
                color: $txt-footer-color;
            }
        }
    }
}