header {
    width: 100%;

    .logo {
        background-color: $header-bg-color1;
        text-align: center;
        padding: 14px 0 13px 0;
    }

    .location {
        background-color: $header-bg-color2 ;
        display: flex;
        justify-content: center;
        gap: 17px;
        height: 50px;
        padding-top: 15px;

        &_txt {
            font-weight: $font-weight-Medium;
        }

    }
}

.pageRestoHeader {
    padding: 14px 0 13px 0;
    position: relative;
    text-align: center;

    &_logo {
        height: 36px;
    }

    &_arrow {
        position: absolute;
        font-size: 30px;
        top: 14px;
        left: 17px;

    }

}