header {
    width: 100vw;
    
    .logo {
        background-color: $header-bg-color1;
        text-align: center;
        padding: 14px 0 13px 0;
    }

    .location {
        background-color: $header-bg-color2 ;
        display: flex;
        justify-content: center;
        gap: 17px;
        height: 50px;
        padding-top: 15px;

        &_txt {
            font-weight: $font-weight-Medium;
        }

    }
}