.sectionFonctionnement {
    background-color: $main-bg-color;
    width: 100vw;
    padding: 48px 20px 68px 20px;

    @include breakpoint(desktop) {
        padding: 50px 180px;
    }

    .h2homepage {
        margin-bottom: 26px;

        @include breakpoint(desktop) {
            margin-bottom: 25px;
        }
    }

    .frameFonctionnement {
        display: flex;
        flex-direction: column;
        gap: 25px;

        @include breakpoint(desktop) {
            flex-direction: row;
            justify-content: space-between;
            gap: 36px;
        }

        .frame {
            display: flex;
            background-color: $body-bg-color;
            position: relative;
            margin-left: 12.5px;
            border-radius: 20px;
            padding-left: 12px;
            justify-content: space-evenly;
            @include Shadow(15px, 0.15);

            @include breakpoint(desktop) {
                width: 30%;
            }


            &_round {
                position: absolute;
                left: -12.5px;
                top: 24px;
                display: inline-block;
                width: 24px;
                line-height: 24px;
                background-color: $primary-colors;
                font-size: 14px;
                font-weight: $font-weight-Medium;
                color: $txt-button-color;
                text-align: center;
                border-radius: 50%;
            }

            &_icon {
                line-height: 72px;
            }

            &_txt {
                line-height: 72px;
                font-weight: $font-weight-Medium;
                white-space: nowrap;

            }

            &:hover {
                background: lighten($primary-colors, 20%);

                .frame_icon .fa-solid {
                    color: $primary-colors;
                }
            }
        }


    }

}